<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    tools:ignore="GoogleAppIndexingWarning">

    <!-- USB Host support for HUD devices -->
    <uses-feature android:name="android.hardware.usb.host" android:required="false" />

    <!-- USB permissions -->
    <uses-permission android:name="android.permission.USB_PERMISSION" />

    <application 
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:description="@string/app_desc"
        android:theme="@style/AppTheme" >
        <meta-data android:name="plugin-api" android:value="${atakApiVersion}"/>
        <meta-data android:name="app_desc" android:value="@string/app_desc"/>


       <!-- This fictitious activity entry allow for ATAK 4.6.0.2 and newer to perform
            plugin discovery  android devices.  If this is removed, the plugin will
            not be able to be discovered or loaded.  -->
       <activity android:name="com.atakmap.app.component"
           android:exported="true"
           tools:ignore="MissingClass">
           <intent-filter android:label="@string/app_name">
              <action android:name="com.atakmap.app.component" />
           </intent-filter>

           <!-- USB device attachment detection -->
           <intent-filter>
               <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
           </intent-filter>

           <!-- USB device filter - will be triggered when USB devices are connected -->
           <!-- Note: Once ECOTI VID/PID is known, add specific meta-data filter -->
           <!-- For now, this will allow the plugin to see USB attachment events -->
       </activity>


    </application>

</manifest>
